[defaults]
roles_path = roles
inventory = inventory/prod.aws_ec2.yml
host_key_checking = False
forks = 20
remote_user = centos
private_key_file = ~/.ssh/marphill.pem
retry_files_enabled = False

[ssh_connection]
# you may need to disable this if requiretty is in your sshd_config
# (or remove requiretty!)
pipelining = True
control_path = /tmp/%%h-%%r
# ssh_args = -F .ssh/config
