[defaults]
roles_path = roles
# hostfile = inventory/ec2.py
# host_key_checking = False
# forks = 20
# remote_user = ec2_user
# private_key_file = 
# system_warnings = False
retry_files_enabled = False
# retry_files_save_path =

[ssh_connection]
# you may need to disable this if requiretty is in your sshd_config
# (or remove requiretty!)
pipelining = True
control_path = /tmp/%%h-%%r
# ssh_args = -F .ssh/config
