 _____________________ 
< I've been Ansibled! >
 --------------------- 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

Distro: {{ ansible_distribution }}
IP: {{ ansible_ec2_public_ipv4 }} ID: {{ ansible_ec2_reservation_id }}

